@use 'styles/variables' as *;

:host {
  display: block;
  cursor: pointer;
}

.product {
  &__image-wrap {
    position: relative;
    border-radius: $radius-lg;
    overflow: hidden;
    height: 374px;
    margin-bottom: $space-3;

    app-icon-button {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    font-size: $text-2xl;
    font-weight: $font-medium;
    line-height: 32px;
    letter-spacing: -1px;
    color: $color-dark;
    margin-bottom: $space-1;
  }

  &__price {
    font-size: $text-xl;
    font-weight: $font-regular;
    line-height: 28px;
    letter-spacing: -1px;
    color: $color-dark;
    opacity: 0.8;
  }
}
