@use 'styles/variables' as *;
@use 'styles/mixins' as *;

:host {
  display: block;
  padding-inline: 60px;
}

.trending {
  &__container {
    border-top: 1px solid rgba($color-black, 0.1);
    padding-block: $space-8;
  }

  &__header {
    @include flex-between;
    margin-bottom: $space-6;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: flex-start;
      gap: $space-4;
    }
  }

  &__title {
    font-size: $text-3xl;
    font-weight: $font-regular;
    line-height: 38px;
    letter-spacing: -1px;
    color: $color-dark;
  }

  &__filters {
    display: flex;
    gap: $space-3;
    flex-wrap: wrap;
  }

  &__grid {
    @include grid(3, $space-3);

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
    }
  }
}
