@use 'styles/variables' as *;

:host {
  display: block;
}

.section-header {
  text-align: center;
  margin-bottom: $space-8;

  &__title {
    font-size: $text-3xl;
    font-weight: $font-bold;
    color: $color-gray-900;
    margin-bottom: $space-2;
  }

  &__subtitle {
    font-size: $text-lg;
    color: $color-gray-500;
    max-width: 600px;
    margin-inline: auto;
  }
}
